$dark_color: (
  primary: rgb(36, 36, 36),
  text: #fff,
  accent: #000000,
  secondary: rgb(184, 184, 184),
);
$light_color: (
  accent: #005dff,
  primary: #fff,
  text: rgb(73, 73, 73),
);
$text_size: (
  lg: 1.5rem,
  md: 1rem,
  sm: 0.9rem,
);
$h1_size: (
  lg: 3rem,
  md: 2rem,
  sm: 1.5rem,
);
$h2_size: (
  lg: 2.5rem,
  md: 1.8rem,
  sm: 1.2rem,
);
$mobile_size: 650px;
$tablet_size: 800px;
@mixin mobile {
  @media (max-width: #{$mobile_size}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet_size}) {
    @content;
  }
}
